@{ 
    ViewBag.Title = "Home Page";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}
<div class="row">

    <div class="col-md-12">
        <h2 id="header">Welcome to Glitch Doctor's hut.</h2>
        <p>Do you dare to look inside?</p>
        <a asp-controller="App" asp-action="livePoll" class="btn btn-lg btn-success">The Live Poll</a>
    </div>

</div>